.page-aside h2 span {
    font-size: 0.7em;
    display:inline-block;
    border-bottom: 3px solid #fffff8;
    margin-bottom: 0.5em;
}


.portfolio-picture {
    width: 45vw;
    height: 45vw;
    float: left;
    margin: 0  0.5em 0.5em 0;
    background-image: url("../img/profilepic.jpeg");
    background-size: cover;
    background-position: center;
}


/* social links are placed inside the aside content.
 * each icon is placed using grid system and background image.
 */
.social-link {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: 40px;
    grid-template-areas:"tw ig go";
    grid-gap: 30px;
    justify-content: center;
    padding-bottom: 1em;
}


.social-link span {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
}


.twitter {
    grid-area: tw;
    background-image: url("../img/social-twitter.png");
}


.instagram {
    grid-area: ig;
    background-image: url("../img/social-instagram.png");
}


.google {
    grid-area: go;
    background-image: url("../img/social-google.png");
}


.social-link a:hover {
    background-color: transparent;
}
