/* set font and font size on body */
body {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Lora', 'Noto Serif JP', serif;
    background: #ccc;
}


/* block border setting */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* hidden element */
.visuallyhidden {
    display: none;
}


/* button style */
button {
    color: black;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}


/* page container with grid system */
.page-container {
    width: 100%;
    background: linear-gradient(150deg, rgba(18, 64, 196, 0.5), rgba(0, 255, 234, 0.5));
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "main" "aside";
}


/* main content with 98% width */
.page-main {
    width: 98%;
    margin: auto;
    grid-area: main;
}


/* aside content with 98% width */
.page-aside {
    width: 98%;
    margin: auto;
    grid-area: aside;
}


/* General rules */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

h5,
h6 {
    font-weight: normal;
    text-align: start;
}


h1 {
    font-size: 3em;
}


h2 {
    font-size: 2.4em;
}


h3 {
    font-size: 1.8em;
}


h4 {
    font-size: 1.4em;
    margin: 1rem 0;
}


h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}


p {
    margin: 0 0 1em;
    line-height: 1.4;
}


a {
    color: #1470e9;
    text-decoration:underline;
}


a:hover {
    background: rgba(50, 186, 240, 0.2)
}


.image {
    width: 100%;
}




ol {
    margin: 1rem 0;
    padding-left: 40px;
    width: 100%;
}

ol ::marker {
    font-family: 'Lora', 'Noto Serif JP', serif;
}

/* image */
figure {
    margin: 1rem 0;
    text-align: center;
    align-self: center;
}


figcaption {
    font-style: italic;
    color: rgb(64, 64, 64);
}


.image {
    width: 100%;
    position: relative;
    vertical-align: bottom;
}

.image-container {
    width: 100%;
    position:relative;
}

@media (min-width: 815px) {
    .image {
        width: 600px;
    }

    .image-container {
        width: 600px;
    }    
}


.image-container .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse closest-side, transparent 70%, rgba(0, 0, 0, 0.4));
}


.image-gallery-container {
    width: 100%;
    margin: 0 0 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1%;
}


@media (min-width: 500px) {
    .image-gallery-container {
        grid-template-columns: 47.5% 47.5%;
        grid-gap: 5%;
        margin: 0 0 5%;
    }
}

.photo-box {
    width: 100%;
    padding: 66% 0 0;
}


#photo-gallery-one {
    background: url(../img/camellia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#photo-gallery-two {
    background: url(../img/fall-pond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#photo-gallery-three {
    background: url(../img/cherry-blossom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#photo-gallery-four {
    background: url(../img/nature-earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* code viewer */
.code-viewer {
    margin: 0 0 1rem;
    padding: 0.6rem;
    width: 100%;
    background: rgb(196, 196, 196);
    border-left: 5px solid rgb(0, 64, 0);
    overflow: auto;
}

.code-viewer .comment {
    font-style: italic;
    color:rgb(0, 138, 0)
}
pre code{
    font-family: 'Cousine', monospace;
    font-size: 0.8rem;
}


/* form */
.form {
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form .input {
    width: 100%;
    margin: 1rem;
}

.form .submit {
    width: 50px;
    margin: 1rem;
}