<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webpack Recap</title>
        <meta description="My handwritten recap of webpack lesson">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Lora&family=Noto+Sans+JP&family=Noto+Serif+JP&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <header class="page-header">
            <h1>Webpack Recap</h1>
        </header>
        <div class="page-container">

            <main class="page-main">
            
                <h2 class="visuallyhidden">content</h2>

                <!-- Section sample -->
                <section class="section">
                    
                    <header class="section-header">
                        <h3>Send form and get response</h3>
                    </header>
                    
                    <article class="article">
                        <h4>Send form</h4>
                        <form id="form" class="form" action="" method="GET">
                            <label for="name">Your Name</label>
                            <input id="name" class="input" name="name" type="text" value="" placeholder="Name">
                            <input class="submit" type="submit" value="submit">
                        </form>
                    </article>

                    <article class="article">
                        <h4>Response area</h4>
                        <p id="results"></p>
                    </article>

                </section>

            </main>
            
            <aside class="page-aside">

            </aside>
        </div>
        <footer class="page-footer">
            <p>&copy;Tanada Daisuke 2021</p>
        </footer>
        <script type="module" src="../index.js"></script>
    </body>
</html>